<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Python Newsfeed</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="home">
        <a href="/">Python Newsfeed</a>
      </h1>
      <nav class="session">
        {% if loggedIn == True %}
          {% if currentRoute != '/dashboard' %}
            <a href="/dashboard">Dashboard</a>
          {% endif %}
          <button id="logout" class="btn-no-style">Logout</button>
        {% else %}
          <a href="/login">Login</a>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block body %}{% endblock %}
    </main>
    <footer>
      Made with ❤️ by Joe Foster
    </footer>
  </div>
  
  {% if loggedIn %}
  <script src="/javascript/logout.js"></script>
  {% endif %}
</body>

</html>