<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="mask-icon" href="./src/assets/project/icon.svg" color="#0b0b0b">
    <title>Python Pulse</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Python Pulse</a>
        </h1>
        <nav>
          {% if loggedIn == True %}
          <a href="/dashboard">Dashboard</a>
          <a id="logout">Logout</a>
          {% else %}
          <a href="/login">Login</a>
          {% endif %}
        </nav>
      </header>
      <main>{% block body %}{% endblock %}</main>
      <footer>
        <a href="https://github.com/joseph-s-foster/python-pulse"> GitHub </a>
      </footer>
    </div>

    {% if loggedIn %}
    {% endif %}
  </body>
  <script src="/javascript/logout.js"></script>
</html>
