* {
  box-sizing: border-box;
}

:root {
  --links: #a28a31;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #ffffff;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: var(--links);
}

.cta {
  position: absolute;
  top: 45%;
  left: 10%;
  z-index: 1;
  text-align: right;
}

.cta h1 {
  margin: 0;
  padding: .5em 0;
  font-size: 4rem;
}

.explore {
  margin-right: 16px;
  transition: background-color 0.33s ease-in-out, color 0.33s ease-in-out;
  color: #ffffff;
  padding: 12px;
  font-size: 1.5rem;
  border: solid #ffffff 3px;
  border-radius: 6px;
}

.explore:hover {
  background-color: #ffffff;
  color: #000;
}

@media screen and (max-width: 560px) {
  .cta {
    top: 55%;
    left: 8%;
  }
  .cta h1 {
    font-size: 3rem;
  }
  .explore {
    font-size: 1.2rem;
  }
}

.articles h2 {
  margin-left: 3%;
}

button {
  background-color: var(--links);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #eaac0e;
}

.home {
  margin-left: 2%;
}

.session {
  margin-right: 2%;
}

.padding {
  padding-left: 3%;
  padding-right: 3%;
}

.post-list {
  margin-left: 1%;
}

@media screen and (max-width: 480px) {
  .post-list {
    padding-left: 6%;
    padding-right: 6%;
  }
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  /* border: 1px solid #ccc; */
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  flex: 1;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  z-index: 2;
}

header h1 {
  font-size: 1rem;
}

main {
  flex: 1;
  padding: 0% 0%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: var(--links);
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 16px;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color 0.1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  color: #ffffff;
}

.comment:nth-child(odd) {
  background-color: black;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  background-color: #0b0b0b;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 3%;
  margin-top: auto;
}

footer a {
  color: grey;
}
