{% extends "layout/main.html" %} {% block body %}
<article class="edit">
  <h2>Edit Post</h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <span class="savedelete">
      <button type="submit" class="save-post-btn">Save</button>
      <button type="button" class="delete-post-btn">Delete</button>
    </span>
    <br />
    <div>({{post.post_url}})</div>
    <div class="meta">
      {{ post.vote_count }} like{% if post.vote_count != 1 %}s{% endif %} |
    <a href="/post/{{ post.id }}" class="comments">
      {{ post.comments|length }} comment{% if post.comments|length != 1 %}s{%
      endif %}
    </a>
  </div>
  </form>
</article>
<!-- <div class="edit2">
  <h2>Add Comment</h2>
</div>
  <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>


{% with comments=post.comments %} {% include "partials/comments.html" %} {%
endwith %} -->

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
{% endblock %}
