{% extends "layout/main.html" %} {% block body %}

<img
  class="image"
  src="{{ url_for('static', filename='images/background.png') }}"
/>

<section class="cta">
  <h1>
    Stay inspired.<br />
    Stay informed.
  </h1>
  <a href="#articles" class="explore" onClick="handleScroll(event)">Explore</a>
</section>

<section id="articles">
  <h2>Articles</h2>
</section>

<ol class="post-list">
  {% for post in posts %}
  <li>{% include "partials/post-info.html" %}</li>
  {% endfor %}
</ol>
<script src="/javascript/scroll.js"></script>

{% endblock %}
